body {
    background: url('https://64.media.tumblr.com/fd9dea9bd9c3d403dff1ac61caca1091/tumblr_orpi2cL3QU1wpzpibo1_400.gifv');
    background-size: cover;
    font-family: "Potta One", "Comic Sans MS", "Papyrus", cursive;
    color: #ff00ff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.profile {
    background-color: rgba(0,0,0,0.4);
    border-radius: 12px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    color: #00ffff;
    text-shadow: 3px 3px 5px #ff00ff;
    letter-spacing: 3px;
    animation: rainbow 3s infinite linear;
}

h2 {
    font-size: 40px;
    color: #00FF3B;
    text-shadow: 2px 2px 4px #ff0099;
    border-bottom: 3px dashed hotpink;
    width: 60%;
    margin: 20px auto;
}

p {
    font-size: 22px;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border: 2px dotted #ff00ff;
    width: 70%;
    margin: 20px auto;
    transform: rotate(-1deg);
}

@keyframes rainbow {
    0%   { color: #ff0000; }
    20%  { color: #ff7f00; }
    40%  { color: #ffff00; }
    60%  { color: #00ff00; }
    80%  { color: #0000ff; }
    100% { color: #8b00ff; }
}
